@charset "UTF-8";

#findAccountArea {
	height: 100vh;
	text-align: center;
}

#findAccountArea>div {
	width: 600px;
}

#findAccountArea .header .title {
	text-decoration: none;
	color: black;
	font-family: 'Bruno Ace', serif;
	font-size: 56px;
	font-weight: 800;
}

#findAccountArea .header .title:hover {
	cursor: pointer;
}

#findAccountArea .header .sub-title {
	margin: 0%;
	font-weight: 800;
	color: black;
}

#findAccountArea .body input:focus {
	box-shadow: none;
	border: 1px solid #dee2e6;
	border-left: none;
	padding-left: 0px;
}

#findAccountArea .body input {
	border-left: none;
	padding-left: 0px;
}

#findAccountArea .body #etcArea a {
	text-decoration: none;
}