@charset "UTF-8";
/* 비밀번호 재확인 CSS */
#myPageContent>#checkPasswordArea>hr {
	height: 2px;
	border: 0;
	background: black;
	opacity: 1;
}

#myPageContent #checkPasswordArea>h4 {
	font-weight: 600;
}

#myPageContent #checkPasswordArea>form>div>div {
	padding: 1% 15% 1% 15%;
}

#myPageContent #checkPasswordArea>form>div>input {
	width: 20%;
}